#blog-head{
  padding: 150px 40px 100px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#blog-head-left{
  width: 500px;
}

#blog-head-right{
  background-image: url(../img/ilustra-blog.png);
  background-size: cover;
  width: 300px;
  height: 300px;
}
#bg-blog-posts{
  background-color: #F6F6F6;
  padding: 40px 0;
}
.row-posts{
  display: flex;
  width: 1440px;
  padding: 30px 10px;
  justify-content: space-around;
  margin: 0 auto;  
}
.blog-post{
  width: 320px;
  display: flex;
  flex-direction: column;
}
.post-blog-title{
  color: #FF4081;
  font-size: 22px;
  text-decoration: none;
}
.post-blog-title:hover{
  cursor: pointer;
  color: #FF4081;
  font-size: 22px;
  text-decoration:underline;
}
/*TABLETS*/
@media(max-width:768px){
  #blog-head{
    justify-content: space-between;

  }
  #blog-head-left{
    width: 300px;
  }
  .row-posts{
    width: 100%;
    padding: 30px 20px;
  }
}
/*SMARTPHONES*/
@media(max-width:425px){
  #blog-head-left{
    width: 100%;
  }
  #blog-head-left h2{
    text-align: center;
    padding-bottom: 20px;
  }
  #blog-head-left p{
    text-align: center;
  }
  #blog-head-right{
    display:none;
  }
  .row-posts{
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .blog-post{
    padding: 40px 0px;
  }
  .blog-post h3{
    text-align: center;
  }
  .blog-post p{
    text-align: center;
  }
}