#blog-head{
  padding: 150px 40px 100px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#blog-head-left{
  width: 500px;
}

#blog-head-right{
  background-image: url(../img/ilustra-blog.png);
  background-size: cover;
  width: 300px;
  height: 300px;
}
#bg-blog-posts{
  background-color: #F6F6F6;
  padding: 40px 0;
}
.row-posts{
  display: flex;
  width: 1440px;
  padding: 30px 10px;
  justify-content: space-around;
  margin: 0 auto;  
}
.blog-post{
  width: 320px;
  display: flex;
  flex-direction: column;
}
.post-blog-title{
  color: #FF4081;
  font-size: 22px;
  text-decoration: none;
}
.post-blog-title:hover{
  cursor: pointer;
  color: #FF4081;
  font-size: 22px;
  text-decoration:underline;
}