
.top{
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  align-items: top;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px 20px 40px 0;
}
#content1{
  max-width: 40%;
  padding: 40px;
}

#content1 h1{
  color: #FF4061;
  font-size: 46px;
}

#content1 h3{
  padding: 20px 0;
  font-size: 22px;
  font-weight: 300;
}
#content1 button{
  cursor: pointer;
padding: 20px 80px;
border: 2px solid #FF4061;
border-radius: 62px;
font-size: 16px;
color: #FF4061;
background-color: white;
text-transform: lowercase;
transition: color 0.5s;
}

#content1 button:hover{
  padding: 20px 90px;
  border: 2px solid #FF4061;
  border-radius: 62px;
  font-size: 16px;
  background-color: #FF4061;
  color: white;
  text-transform: lowercase;
  }

#content2 img{
  max-width: 350px;
  padding-right: 40px;
}

#bgservices{
  background-color: #F6F6F6;
  width: 100%;
}

#services{
  padding: 60px 40px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}

.service{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imgcontainer1{
  width: 260px;
  height: 260px;
  background-image: url(../img/ilustra-investimento.png);
  background-size: cover;
}

#imgcontainer2{
  width: 260px;
  height: 260px;
  background-image: url(../img/ilustra-poupando.png);
  background-size: cover;
}

#imgcontainer3{
  width: 260px;
  height: 260px;
  background-image: url(../img/ilustra-independencia.png);
  background-size: cover;
}

.pservices{
  text-align: center;
  font-size: 14px;
  padding: 10px 0 20px 0;
}

.btn-services{
padding: 10px 30px;
background: #FF4081;
border: 0;
border-radius: 62px;
color: white;
font-weight: 700;
font-size: 18px;
transition: background-color 0.5s;
}
.btn-services a{
  color: white;
  text-decoration: none;
}
.btn-services a:hover{
  color: #FF4061;
  text-decoration: none;
}

.btn-services:hover{
  width: 233px;
  height: 51px;
  left: 184px;
  top: 1391px;
  background: white;
  border: 2px solid #FF4061;
  border-radius: 62px;
  color: #FF4061;
  font-weight: 700;
  font-size: 18px;
  }
  
#about-base{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 60px;
  width: 100%;
}
#about-base h2{
  color: #009688;
  text-transform: uppercase;
  margin-left: 40px;
}
#about{
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;

}
.about-item{
  display: flex;
  max-width: 400px;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}

.about-text{
  max-width: 260px;
  padding: 20px;
}

#content-base{
  background-color: #f6f6f6;
}
#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  padding: 40px 60px;
  margin: 0 auto;
  align-items: center;
}
.img-content{
  width: 280px;
  height: 150px;
  background-image: url(../img/post-blog-pig.jpeg);
  background-size: cover;
}

#content h2{
  padding: 40px 10px;
  color: #009688;
  text-transform: uppercase;
}
#contents{
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}
.iner-content{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}

.iner-content h3{
  color: #009688;
  padding: 10px 10px;
}

#content button{
  cursor: pointer;
  padding: 10px 40px;
  color: #FF4081;
  font-size: 18px;
  border: 2px solid #FF4081;
  margin: 40px 0 auto;
  border-radius: 60px;
  margin-bottom: 60px;
  transition: background-color 0.5s;
}
#content button:hover{
  padding: 10px 40px;
  background-color: #FF4061;
  color: white;
  font-size: 18px;
  border: 2px solid #FF4081;
  margin: 40px 0 auto;
  border-radius: 60px;
  margin-bottom: 60px;
  transition: background-color 0.5s;
}

/*-------------TABLET----------*/
@media(max-width: 768px){
  .top{
    max-width: 768px;
    align-items: center;
    justify-content: space-around;
  }
  #content2 img{
    max-width: 260px;
  }
  .service{
    max-width: 180px;
  }
  #imgcontainer1{
    width: 120px;
    height: 120px;
  }
  
  #imgcontainer2{
    width: 120px;
    height: 120px;
  }
  
  #imgcontainer3{
    width: 120px;
    height: 120px;
  }
  #about-base{
    max-width: 768px;
    padding: 60px 40px;
    width: 100%;
  }
  .about-item{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .iner-content{
    width: 200px;
    padding: 5px;
  }
  .img-content{
    width: 180px;
    height: 120px;
  }
}
/*----SMARTPHONE-----*/
@media (max-width: 425px){
  .top{
    max-width: 100%;
    align-items: center;
  }
  #content1{
    max-width: 100%;
    padding: 80px 40px 20px 40px;
    align-items: center;
  }
  #content1 h1{
    color: #FF4061;
    font-size: 36px;
    text-align: center;
  }
  #content2{
    display: none;
  }
  #services{
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .service{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }
  .about-item{
    max-width: 100%;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
  #contents{
    flex-direction: column;
    padding: 20px 20px;
  }
  .iner-content{
    width: 400px;
    padding: 50px 20px;
  }
  .img-content{
    width: 380px;
    height: 240px;
  }
}