@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
h2{
  padding-top: 10px;
  color: #FF4061;
  font-size: 32px;
}
h3{
  color: #FF4061;
  padding: 10px;
}

/*HEADER*/
header{
  background-color: #2E948A;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
}

header #hcontent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 40px;
}

#logo img{
  max-width: 160px;
}

#menu ul{
  display: flex;
  list-style: none;
}
#menu li a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 700;
  color: white;
  transition: color 0.5s;
}

#menu li a:hover{
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 700;
  color: #082b28;
}


/*FOTER*/
footer{
  background-color: #419488;
}
#footer-content{
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
#logo-footer img{
  max-width: 200px;
}
#menu-footer ul{
  list-style: none;
}

#menu-footer ul li a{
  text-decoration: none;
  text-transform: lowercase;
  padding: 0 10px;
  font-weight: 300;
  color: white;
}

#button-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.button-footer{
background-color:#419488;
border: 2px solid #FFFFFF;
color: white;
border-radius: 62px;
padding: 10px 30px;
margin-bottom: 10px;
}

/*----SMARTPHONE-----*/


@media (max-width: 425px){
  /*HEADER*/
  header #hcontent{
    flex-direction: column;
  }
  #menu ul{
    padding: 20px 10px;
  }
  #menu li{
    font-size: 20px;
    padding: 0px 20px;
  }
  /*FOOTER*/
  #footer-content{
    flex-direction: column;
  }
  #menu-footer ul{
    display: flex;
  }
  #button-footer{
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 5px;
  }

}